body {
  background: #2E294E;
  color: white;
  overflow-x: hidden;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

button {
  transition: all 200ms;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, .3);
  display: block;
  background: #4CCECA;
  color: white;
  border-radius: 3px;
  margin: 15px 0;
  border: none;
  padding: 5px 10px;
}
button:active {
  background: rgb(56, 151, 150);
}

button:hover {
  opacity: .9;
  cursor: pointer;
}

a, a:visited {
  color: #C952E1;
}

a:visited {
  text-decoration: strikethrough;
}

a:hover {
  color: white;
}

.droplet {
  transform-origin: center;
}

p {
  font-size: 1.3rem;
  font-weight: 300;
  max-width: 400px;
  line-height: 1.3;
}

.wrapper {
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.flex {
  margin-top: auto;
  color: white;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.left, .right {
  box-sizing: border-box;
  padding: 20px;
}

.left {
  max-height: 400px;
}

hr {
  border: none;
  background: rgba(255, 255, 255, .1);
  height: 2px;
  width: 100%;
}

h1 {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
}

svg {
  margin-top: auto;
  transform: scale(.6);
}

svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 3px;
  border: none;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, .4);
  padding: 5px 10px;
  font-size: 1.2rem;
  -webkit-appearance: none;
  font-weight: 300;
}

#b {
  filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, .4));
}

#error {
  background: salmon;
  display: inline;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  display: none;
  margin-top: 2rem;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, .2);
}

input:focus {
  box-shadow: -1px 2px 2px rgba(0, 0, 0, .9);
}
button:disabled {
  opacity: .5;
}
/* 
input:invalid {
  border: solid 2px tomato;
} */

footer {
  margin-top: auto;
  box-sizing: border-box;
  padding: 20px;
  border-top: 2px solid rgba(255, 255, 255, .2);
  width: 100%;
  text-align: center;
}


@media (max-width: 800px) {
  .wrapper {
    margin-top: -100px;
  }
  body {
    text-align: center;
  }
  .left {
    height: 300px;
  }
}